nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}



nav a{

    text-decoration: none;
    color: lightslategrey;
    font-weight: bolder;
}

nav a:hover{

    color: green;
    font-size: 30px;
}

nav{
    text-align: center;

    border-radius: 10px 50px 10px;
    background-color: navajowhite;
    padding: 30px;
    width: 500px;
    height: 25px;
    
    margin: auto;
}

.ul{

    margin:auto;
}

body {
    font-family: 'Pixelify Sans', cursive;
    
}

input,[type=text]{
     
}


.page1 {
    background-image: url(mountain2_dark.jpg);
    
}

.page2{
    
    color: white;

    background-image: url(mountain2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.page3{
    background-image: url(mountain3.jpg);
    color: white;
}

.r6s:hover {
    border: 5px solid white;
    box-shadow: 0 0 10px white;
}

.nfs:hover {
    border: 5px solid white;
    box-shadow: 0 0 10px white;
}

.bleach:hover {
    border: 5px solid white;
    box-shadow: 0 0 10px white;
}

.tr {
    border: 5px solid white;
    box-shadow: 0 0 10px white;
}

.ul{
    text-align: center;
}

.ul li{
   
    list-style-position: inside;
}

.div3{
    color: white;
}